.SearchContent {
    position: sticky;
    top: 1px;
    text-align: center;
    box-shadow: 0px 27px 29px -10px rgba(0, 0, 0, 0.12);
    border-radius: 7px;
    padding: 15px 15px 25px;
}


.SearchContent__contentTitle {
    text-transform: capitalize;
    margin: 0 0 15px;
}

.SearchContent__img img {
    height: 90px;
    width: auto;
    image-rendering: crisp-edges;
}

.listAtat {
    justify-content: space-between;
    margin: 15px 0;
}

.listAtat li {
    padding: 4px;
}

.listAtat__title {
    text-transform: uppercase;
}

.abilityBox {
    padding: 30px 0;
}

.abilityHolder {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin: 20px 0;
    padding: 0;

}

.abilityHolder li {
    flex-grow: 1;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 15px;
}

.SearchContent--loading .SearchContent__img {
    margin-bottom: 20px;
}

.SearchContent--loading .SearchContent__img img {
    opacity: 0.2;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
  }
  
  @keyframes skeleton-loading {
    0% {
      background-color: rgba(0, 0, 0, 10%);
    }
    100% {
      background-color: rgba(0, 0, 0, 25%);
    }
  }
  
  .skeleton-text {
    width: 100%;
    height: 0.7rem;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
  }
  
  .skeleton-text__body {
    width: 75%;
  }
  
 