.SearchContent {
    position: sticky;
    top: 1px;
    text-align: center;
    box-shadow: 0px 27px 29px -10px rgba(0, 0, 0, 0.12);
    border-radius: 7px;
    padding: 15px 15px 25px;
}


.SearchContent__contentTitle {
    text-transform: capitalize;
    margin: 0 0 15px;
}

.SearchContent__img img {
    height: 90px;
    width: auto;
    image-rendering: crisp-edges;
}

.listAtat {
    justify-content: space-between;
    margin: 15px 0;
}

.listAtat li {
    padding: 4px;
}

.listAtat__title {
    text-transform: uppercase;
}

.abilityBox {
    padding: 30px 0;
}

.abilityHolder {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin: 20px 0;
    padding: 0;

}

.abilityHolder li {
    flex-grow: 1;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 15px;
}